# Server
PORT=
SSL_KEY=/etc/letsencrypt/live/domain.com/privkey.pem
SSL_CERT=/etc/letsencrypt/live/domain.com/fullchain.pem
SSL_CA=/etc/letsencrypt/live/domain.com/chain.pem

# CORS
CORS_ORIGIN=

# Jwt
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/template

# Upload file (check infra-vendors.ts for available vendors)
UPLOAD_FILE_VENDOR=aws-s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# SMTP (check infra-vendors.ts for available vendors)
SMTP_VENDOR=nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_TO=
SMTP_FROM=
SMTP_USERNAME=
SMTP_PASSWORD=

# Cache (check infra-vendors.ts for available vendors)
CACHE_VENDOR=redis
REDIS_URL=

# CEP lookup (check infra-vendors.ts for available vendors)
CEP_LOOKUP_VENDOR=viacep
VIACEP_API_URL=https://viacep.com.br/ws

# CNPJ lookup (check infra-vendors.ts for available vendors)
CNPJ_LOOKUP_VENDOR=cnpja
CNPJA_API_URL=https://api.cnpja.com
CNPJA_API_KEY=

# Logger (check infra-vendors.ts for available vendors)
LOGGER_VENDOR=winston
